/* Overriding container-fluid to make page more immersive and get rid of margins */
.container-fluid {
    width: 100%;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    background-color: #f5f4f0;
}

/* Homepage larger text */
.title {
    font-size: 100px !important;
}

.frog-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
}

/* Overrides the colors for buttons to make more personal */
.btn, .btn-primary {
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.btn-primary:hover {
    background-color: #323232 !important;
    border-color: #323232 !important;
}

/* Styles for navigation bar */
.navigation-bar {
    background-color: #000000;
    color: #f9f9f9;
    font-size: 30px;
}

/* Styles for the game page */
.game-text {
    color: #000000;
    font-size: 25px;
}

.game-padding {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}

