/* Overriding container-fluid to make page more immersive and get rid of margins */
.container-fluid {
    width: 100%;
    max-width: none;
    padding-left: 0;
    padding-right: 0
}

/* Styles for navigation bar */

.navigation-bar {
    background-color: #000000;
    color: #f9f9f9;
}

