{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

<div class="container">
    <div class="text-center row">
        <img class="game-padding frog-image" src="./static/detective-frog.png" alt="a very cute frog with a magnifying glass">
        <h1 class="game-padding title">Bot or Not?</h1>
    </div>
    <div class="text-center row">
        <p class="game-text">Can you tell the difference between human-generated and computer-generated text?</p>
        <a class="btn btn-primary btn-lg" type="button" role="button" href="/tutorial">→</a>
    </div>
</div>
{% endblock %}
