{% extends "base.html" %}

{% block title %}
Landing
{% endblock %}

{% block main %}

<div class="container">
    <div class="text-center row">
        <h1 class="game-padding title">Welcome Back, {{ user['username'] }}</h1>
    </div>
    <div class="text-center row">
        <div class="col">
            <p class="game-text">Account Created: {{ user['created'] }}</p>
            <p class="game-text">ELO: {{ user['elo'] }}</p>
        </div>
        <a class="btn btn-primary btn-lg" type="button" role="button" href="/game">Play Now</a>
    </div>
</div>
{% endblock %}
