{% extends "base.html" %}

{% block title %}
Tutorial
{% endblock %}

{% block main %}

<div class="container">
    <div class="text-center row">
        <h1 class="game-padding title">How to Play</h1>
    </div>
    <div class="text-center row">
        <img src="./static/detective-frog.png" class="frog-image" alt="a-very-cute-frog-with-a-magnifying-glass">
        <p class="game-text">You will be shown two different texts that answer a prompt. Your task is to determine the origin of both texts. </p>
        <p class="game-text">Each prompt has a difficulty level associated with it. Starting out, you will be given texts that are less difficult to distinguish as human or bot generated. However as you answer more questions correctly, the difficulty of the prompts will increase.</p>
        <p class="game-text">Ready to start?</p>
        <a class="btn btn-primary btn-lg" type="button" role="button" href="/game">Play Now!</a>
    </div>
</div>
{% endblock %}
